@import url('https://fonts.googleapis.com/css2?family=Allura&family=Josefin+Sans:wght@500;600;700&family=Lato:wght@100;300;400&family=Sue+Ellen+Francisco&display=swap');
:root{
  --PrimaryColor: #0475e6;
  --SecundaryColor: #de4503;
  --TerciaryColor: #770505;
  --White: #FFFFFF;
  --Black: #0F0F0F;
  --Gray: #222222;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Josefin Sans', sans-serif;
}


.s0 { fill: #770505 }